<template>
  <div class="bulk-action-bar">
    <span class="checkbox">
      <input
        :disabled="totalEmailsCount === 0"
        type="checkbox"
        :checked="allEmailsSelected"
        :class="[someEmailSelected ? 'partial-check' : '']"
        @click="bulkSelect()"
      />
    </span>
    <span class="buttons">
      <button
        @click="emailSelection.markRead()"
        :disabled="[...emailSelection.emails].every((e) => e.read)"
      >
        Mark read
      </button>
      <button
        @click="emailSelection.markUnread()"
        :disabled="[...emailSelection.emails].every((e) => !e.read)"
      >
        Mark unread
      </button>
      <button @click="toggleArchive()" :disabled="selectedEmailsCount === 0">
        {{ view === "inbox" ? "Archive" : "Unarchive" }}
      </button>
    </span>
    <span>
      {{ selectedEmailsSpan }}
    </span>
  </div>
</template>

<script>
import useEmailSelection from "@/composables/use-email-selection";
import { computed } from "vue";
export default {
  setup(props) {
    const emailSelection = useEmailSelection();
    let selectedEmailsCount = computed(() => emailSelection.emails.size);
    let totalEmailsCount = computed(() => props.emails.length);
    let allEmailsSelected = computed(() => {
      if (totalEmailsCount.value > 0) {
        return selectedEmailsCount.value === totalEmailsCount.value;
      }
      return false;
    });
    let someEmailSelected = computed(() => {
      return !allEmailsSelected.value && selectedEmailsCount.value > 0;
    });
    const bulkSelect = () => {
      if (allEmailsSelected.value) {
        emailSelection.clear();
      } else {
        emailSelection.addMultiple(props.emails);
      }
    };
    return {
      totalEmailsCount,
      selectedEmailsCount,
      allEmailsSelected,
      someEmailSelected,
      bulkSelect,
      emailSelection,
    };
  },
  computed: {
    selectedEmailsSpan() {
      const { size } = this.emailSelection.emails;
      return `${size} email${size > 1 ? "s" : ""} selected`;
    },
  },
  props: {
    emails: {
      type: Array,
      required: true,
    },
    view: {
      type: String,
      required: true,
    },
  },
  methods: {
    toggleArchive() {
      if (this.view === "inbox") {
        this.emailSelection.archive();
      } else {
        this.emailSelection.unarchive();
      }
    },
  },
};
</script>

<style>
</style>