<template>
  <button @click="changeView('inbox')" :disabled="selectedView == 'inbox'">
    Inbox</button
  ><button @click="changeView('archive')" :disabled="selectedView == 'archive'">
    Archive
  </button>
  <BulkActionBar :emails="filteredEmails" :view="selectedView" />

  <table class="mail-table">
    <tbody>
      <tr
        v-for="email in filteredEmails"
        :key="email.id"
        :class="['clickable', email.read ? 'read' : '']"
      >
        <td>
          <input
            type="checkbox"
            @click="emailSelection.toggle(email)"
            :checked="emailSelection.emails.has(email)"
          />
        </td>
        <td @click="openEmail(email)">{{ email.from }}</td>
        <td @click="openEmail(email)">
          <p>
            <strong>{{ email.subject }}</strong
            >: {{ email.body }}
          </p>
        </td>
        <td class="date">
          {{ format(new Date(email.sentAt), "do MMM yyyy") }}
        </td>
        <td>
          <button @click="archiveEmail(email)">
            {{ selectedView === "inbox" ? "Archive" : "Unarchive" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ModalView v-if="openedEmail" @closeModal="openedEmail = null">
    <MailView :email="openedEmail" @changeEmail="changeEmail" />
  </ModalView>
</template>

<script>
import { ref } from "vue";
import { format } from "date-fns";
import BulkActionBar from "@/components/BulkActionBar";
import MailView from "./MailView";
import ModalView from "./ModalView";
import useEmailSelection from "@/composables/use-email-selection";
import { fetchEmails, updateEmail } from "@/services/email-service";

export default {
  components: {
    BulkActionBar,
    MailView,
    ModalView,
  },
  async setup() {
    const { data: emails } = await fetchEmails();
    return {
      format,
      emails: ref(emails),
      openedEmail: ref(null),
      emailSelection: useEmailSelection(),
      selectedView: ref("inbox"),
    };
  },
  computed: {
    sortedEmails() {
      return this.emails.sort((e1, e2) => {
        return e1.sentAt < e2.sentAt ? 1 : -1;
      });
    },
    unarchivedEmails() {
      return this.sortedEmails.filter((e) => !e.archived);
    },
    filteredEmails() {
      return this.sortedEmails.filter(
        (email) => email.archived === (this.selectedView === "archive")
      );
    },
  },
  methods: {
    changeView(view) {
      this.selectedView = view;
      this.emailSelection.clear();
    },
    toggleRead(email) {
      email.read = !email.read;
      this.updateEmail(email);
    },
    openEmail(email) {
      email.read = true;
      this.openedEmail = email;
      this.updateEmail(email);
    },
    archiveEmail(email) {
      email.archived = !email.archived;
      this.updateEmail(email);
    },
    updateEmail(email) {
      updateEmail(email);
    },
    changeEmail({ toggleRead, toggleArchive, save, closeModal, changeIndex }) {
      let email = this.openedEmail;
      if (toggleRead) {
        email.read = !email.read;
      }
      if (toggleArchive) {
        email.archived = !email.archived;
      }
      if (save) {
        this.updateEmail(email);
      }
      if (closeModal) {
        this.openedEmail = null;
      }
      if (changeIndex) {
        let emails = this.unarchivedEmails;
        let currentIndex = emails.indexOf(this.openedEmail);
        let newEmail = emails[currentIndex + changeIndex];
        this.openEmail(newEmail);
      }
    },
  },
};
</script>

<style>
</style>